/*PÁGINA CONTATO*/
.sessoes {min-height: 550px; padding: 30px; float:left;  width:100%; margin-top:2%;}
.contato .informacoes {background-color:#feb72a;}
.contato .formulario  {background-color:grey;   }
.titulo{font-size:2.5em;}