/* Resets Básicos do Layout*/
* 	{
	   margin: 0; padding: 0;
	   font-size: 100%; font-weight: 300;font-family: 'Open Sans', sans-serif;
	   border: none; outline: none; box-sizing: border-box;
	}
body { background-color: #F8F4E9; }
a    {  text-decoration: none;}
ul   {  list-style: none;}
img  {  width:100%;}

/* FIM Resets Básicos do Layout*/

/* CABEÇALHO */
.principal_header{ width: 100%; float: left; padding: 3%; }
.logo{width: 50px; height:50px; float: left;background: url('../img/3.png') center center/56px no-repeat; font-size:0;}
.btn_menu{width: 60px;height: 60px;float:right;text-align: center;color:#fff; border-radius: 60px;cursor: pointer;
			background: linear-gradient(to right, #ff9945,#ea6d1d);}

/* MENU */
.menu{width: 100%;height: 100%;position:fixed;background-color:white;top: 0;left: 0; display: none;opacity: 0.80}
.btn_fechar{font-size:2em;float: right;cursor: pointer;margin:2% 3% 0 0;}
.menu ul {width: 100%;float:left;text-align:center;}
.menu li {padding: 1.5%;}
.menu li a {font-size:2em;padding: 1.5% 3%;}
.menu li a:hover {text-decoration: underline;}

/* SLIDER ou Banner*/
.slider{width: 100%;float: left;text-align: center;padding: 4%; background-color:#FEB72A;/*background: url('../img/slider.jpg') no-repeat fixed*/}
.principal_headline {width:100%;}
.principal_headline h2 {font-size:2.5em;color:#fff;font-weight:700;}
.principal_headline h3 {font-size:1.5em;color:#fff;}

.principal_headline {width: 100%;margin-top: 3%;}
.princial_cta i {float:right;}
.btn_cadastrar {width:100%; font-size:1.5em; text-align:left; cursor: pointer;padding:5%;border-radius:10px; background-color:#ff9945;color:black;}


/* BLOG */
.blog{width:100%;float:left;padding: 3% 4%;}
.posts{width: 100%;background-color:#fff;text-align: left;border-radius: 7px;margin-bottom: 3%;}
.posts img{border-radius:7px 7px 0 0 ;}
.resumo_post{padding:7%;}
.resumo_post a{font-size:1.5em;font-weight: 700;color:#ff9945;}
.resumo_post p{margin-top:4%; line-height: 1.5em;}


/* NEWS LETTER*/
.newsletter{widt:100;}